<!-- {{ id }} je vracen iz baze -->
<p *ngIf="!user">Loading...</p>
<!-- <div *ngIf="user">

  <h1>User {{ user.firstName }} {{ user.lastName }}</h1>
  <br />
  <label for="firstname">Firstname</label>
  <input
    type="text"
    id="firstname"
    name="firstname1"
    placeholder="{{ user.firstName }}"
  />
  <br />
  <label for="lastname">Lastname</label>
  <input
    type="text"
    id="lastname"
    name="lastname1"
    placeholder="{{ user.lastName }}"
    (keyup)="keyUp($event)"
  />
  <br />
  <input type="button" value="Save" (click)="saveChanges()" />
</div> -->

<app-user-form *ngIf="user" [user]="user" (eventEmiter)="stampaj('edit komponenta'); saveUpdated($event)"></app-user-form>

<!-- <app-user-form *ngIf="user" [user]="user" (eventEmiter)="saveUpdated($event)"></app-user-form> -->
<!-- <app-user-form *ngIf="user" [user]="user" (eventEmiter)="stampaj("edit komponenta")"></app-user-form> -->
